In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('./data/Annual_Surface_Temperature_Change.csv', usecols=[1]+list(range(10, 72)))
df

,Country,F1961,F1962,F1963,F1964,F1965,F1966,F1967,F1968,F1969,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,"Afghanistan, Islamic Rep. of",-0.113,-0.164,0.847,-0.764,-0.244,0.226,-0.371,-0.423,-0.539,...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,Albania,0.627,0.326,0.075,-0.166,-0.388,0.559,-0.074,0.081,-0.013,...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,Algeria,0.164,0.114,0.077,0.250,-0.100,0.433,-0.026,-0.067,0.291,...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,American Samoa,0.079,-0.042,0.169,-0.140,-0.562,0.181,-0.368,-0.187,0.132,...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,"Andorra, Principality of",0.736,0.112,-0.752,0.308,-0.490,0.415,0.637,0.018,-0.137,...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Western Sahara,0.632,0.576,0.333,0.819,-0.337,0.284,-0.026,-0.368,0.383,...,1.423,1.401,1.510,1.732,2.204,0.942,1.477,2.069,1.593,1.970
221,World,0.211,0.038,0.168,-0.246,-0.223,0.201,-0.117,-0.126,-0.092,...,1.016,1.053,1.412,1.660,1.429,1.290,1.444,1.711,1.447,1.394
222,"Yemen, Rep. of",0.029,-0.009,0.169,-0.251,-0.623,0.089,-0.257,-0.252,0.262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,Zambia,0.228,-0.168,-0.390,-0.279,-0.418,0.300,-0.014,-0.130,0.243,...,0.790,0.917,1.450,1.401,0.105,0.648,0.855,0.891,0.822,0.686
224,Zimbabwe,0.267,0.237,-0.458,-0.097,-0.480,0.215,-0.043,0.093,0.215,...,0.118,0.025,0.970,1.270,0.088,0.453,0.925,0.389,-0.125,-0.490

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 63 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  225 non-null    object
 1   F1961    188 non-null    float64
 2   F1962    189 non-null    float64
 3   F1963    188 non-null    float64
 4   F1964    188 non-null    float64
 5   F1965    188 non-null    float64
 6   F1966    192 non-null    float64
 7   F1967    191 non-null    float64
 8   F1968    191 non-null    float64
 9   F1969    190 non-null    float64
 10  F1970    189 non-null    float64
 11  F1971    191 non-null    float64
 12  F1972    192 non-null    float64
 13  F1973    193 non-null    float64
 14  F1974    192 non-null    float64
 15  F1975    188 non-null    float64
 16  F1976    189 non-null    float64
 17  F1977    185 non-null    float64
 18  F1978    189 non-null    float64
 19  F1979    189 non-null    float64
 20  F1980    191 non-null    float64
 21  F1981    191 non-null    float64
 22  F1982    192 non-null    float64
 23  F1983    190 non-null    float64
 24  F1984    188 non-null    float64
 25  F1985    188 non-null    float64
 26  F1986    190 non-null    float64
 27  F1987    190 non-null    float64
 28  F1988    190 non-null    float64
 29  F1989    190 non-null    float64
 30  F1990    189 non-null    float64
 31  F1991    188 non-null    float64
 32  F1992    208 non-null    float64
 33  F1993    209 non-null    float64
 34  F1994    208 non-null    float64
 35  F1995    210 non-null    float64
 36  F1996    210 non-null    float64
 37  F1997    207 non-null    float64
 38  F1998    210 non-null    float64
 39  F1999    209 non-null    float64
 40  F2000    209 non-null    float64
 41  F2001    208 non-null    float64
 42  F2002    212 non-null    float64
 43  F2003    214 non-null    float64
 44  F2004    213 non-null    float64
 45  F2005    212 non-null    float64
 46  F2006    215 non-null    float64
 47  F2007    217 non-null    float64
 48  F2008    212 non-null    float64
 49  F2009    212 non-null    float64
 50  F2010    215 non-null    float64
 51  F2011    217 non-null    float64
 52  F2012    215 non-null    float64
 53  F2013    216 non-null    float64
 54  F2014    216 non-null    float64
 55  F2015    216 non-null    float64
 56  F2016    213 non-null    float64
 57  F2017    214 non-null    float64
 58  F2018    213 non-null    float64
 59  F2019    213 non-null    float64
 60  F2020    212 non-null    float64
 61  F2021    213 non-null    float64
 62  F2022    213 non-null    float64
dtypes: float64(62), object(1)
memory usage: 110.9+ KB

In [14]:
def remove_first_letter(col_name):
     return col_name[1:] if col_name != 'Country' else col_name
    
new_columns = {col: remove_first_letter(col) for col in df.columns}

df.rename(columns=new_columns, inplace=True)

In [15]:
df

,Country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Afghanistan, Islamic Rep. of",-0.113,-0.164,0.847,-0.764,-0.244,0.226,-0.371,-0.423,-0.539,...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,Albania,0.627,0.326,0.075,-0.166,-0.388,0.559,-0.074,0.081,-0.013,...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,Algeria,0.164,0.114,0.077,0.250,-0.100,0.433,-0.026,-0.067,0.291,...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,American Samoa,0.079,-0.042,0.169,-0.140,-0.562,0.181,-0.368,-0.187,0.132,...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,"Andorra, Principality of",0.736,0.112,-0.752,0.308,-0.490,0.415,0.637,0.018,-0.137,...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Western Sahara,0.632,0.576,0.333,0.819,-0.337,0.284,-0.026,-0.368,0.383,...,1.423,1.401,1.510,1.732,2.204,0.942,1.477,2.069,1.593,1.970
221,World,0.211,0.038,0.168,-0.246,-0.223,0.201,-0.117,-0.126,-0.092,...,1.016,1.053,1.412,1.660,1.429,1.290,1.444,1.711,1.447,1.394
222,"Yemen, Rep. of",0.029,-0.009,0.169,-0.251,-0.623,0.089,-0.257,-0.252,0.262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,Zambia,0.228,-0.168,-0.390,-0.279,-0.418,0.300,-0.014,-0.130,0.243,...,0.790,0.917,1.450,1.401,0.105,0.648,0.855,0.891,0.822,0.686
224,Zimbabwe,0.267,0.237,-0.458,-0.097,-0.480,0.215,-0.043,0.093,0.215,...,0.118,0.025,0.970,1.270,0.088,0.453,0.925,0.389,-0.125,-0.490

In [16]:
df = df.dropna()
df

,Country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Afghanistan, Islamic Rep. of",-0.113,-0.164,0.847,-0.764,-0.244,0.226,-0.371,-0.423,-0.539,...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,Albania,0.627,0.326,0.075,-0.166,-0.388,0.559,-0.074,0.081,-0.013,...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,Algeria,0.164,0.114,0.077,0.250,-0.100,0.433,-0.026,-0.067,0.291,...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
4,"Andorra, Principality of",0.736,0.112,-0.752,0.308,-0.490,0.415,0.637,0.018,-0.137,...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243
5,Angola,0.041,-0.152,-0.190,-0.229,-0.196,0.175,-0.081,-0.193,0.188,...,1.044,0.828,1.331,1.609,0.870,1.395,1.752,1.162,1.553,1.212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,West Bank and Gaza,-0.110,0.822,0.848,-0.626,-0.031,0.604,-0.934,-0.110,0.230,...,1.114,0.863,1.326,1.615,0.735,2.007,1.204,1.455,1.787,1.074
220,Western Sahara,0.632,0.576,0.333,0.819,-0.337,0.284,-0.026,-0.368,0.383,...,1.423,1.401,1.510,1.732,2.204,0.942,1.477,2.069,1.593,1.970
221,World,0.211,0.038,0.168,-0.246,-0.223,0.201,-0.117,-0.126,-0.092,...,1.016,1.053,1.412,1.660,1.429,1.290,1.444,1.711,1.447,1.394
223,Zambia,0.228,-0.168,-0.390,-0.279,-0.418,0.300,-0.014,-0.130,0.243,...,0.790,0.917,1.450,1.401,0.105,0.648,0.855,0.891,0.822,0.686
224,Zimbabwe,0.267,0.237,-0.458,-0.097,-0.480,0.215,-0.043,0.093,0.215,...,0.118,0.025,0.970,1.270,0.088,0.453,0.925,0.389,-0.125,-0.490

In [17]:
df.to_csv('./data/output.csv', index=False)